.transition-wrapper {
    position: relative;
    z-index: 1;
    // overflow: hidden;

    &.transition-mode-both {
        .transition-leave-active {
            position: absolute;
            top: 0;
        }
    }

    &.transition-mode-in-out {
        .transition-leave-active,
        .transition-appear-active {
            position: absolute;
            top: 0;
        }

        .transition-appear-active {
            z-index: 1;
        }

        .transition-leave-active {
            z-index: -1;
        }
    }

    &.transition-mode-out-in {
        .transition-leave-active,
        .transition-appear-active {
            position: absolute;
            top: 0;
        }

        .transition-appear-active {
            z-index: -1;
        }

        .transition-leave-active {
            z-index: 1;
        }
    }

    &.transition-mode-delay {
        .transition-leave-active {
            position: absolute;
            top: 0;
        }
    }
}

.home {
    width: 100%;
    background: salmon;
    height: 150px;
    line-height: 150px;
    text-align: center;
    font-size: 30px;
    color: #000;
    animation-fill-mode: both;
    animation-duration: 1s;
    -webkit-overflow-scrolling: touch;

    &.transition-appear.transition-appear-active {
        animation-name: bounceInLeft;
    }
    &.transition-leave.transition-leave-active {
        animation-name: bounceOutLeft;
    }
    &.transition-delay-ready {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }
}

.about {
    width: 100%;
    background: darkcyan;
    height: 150px;
    line-height: 150px;
    text-align: center;
    font-size: 30px;
    color: #000;
    animation-duration: 1s;
    animation-fill-mode: both;

    &.transition-appear.transition-appear-active {
        animation-name: bounceInRight;
    }

    &.transition-leave.transition-leave-active {
        animation-name: bounceOutRight;
    }

    &.transition-delay-ready {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }
}

@keyframes bounceInLeft {
    from,
    60%,
    75%,
    90%,
    to {
        animation-timing-function: cubic-bezier(0.05, 0.55, 0.36, 1);
    }

    0% {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }

    60% {
        opacity: 1;
        transform: translate3d(25px, 0, 0);
    }

    75% {
        transform: translate3d(-2px, 0, 0);
    }

    90% {
        transform: translate3d(2px, 0, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes bounceOutLeft {
    5% {
        opacity: 1;
        transform: translate3d(2px, 0, 0);
    }

    to {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }
}

@keyframes bounceInRight {
    from,
    60%,
    75%,
    90%,
    to {
        animation-timing-function: cubic-bezier(0.05, 0.55, 0.36, 1);
    }

    from {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }

    60% {
        opacity: 1;
        transform: translate3d(-25px, 0, 0);
    }

    75% {
        transform: translate3d(2px, 0, 0);
    }

    90% {
        transform: translate3d(-2px, 0, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes bounceOutRight {
    5% {
        opacity: 1;
        transform: translate3d(-2px, 0, 0);
    }

    to {
        opacity: 0;
        transform: translate3d(2000px, 0, 0);
    }
}
